bin
obj
.idea
.vs
appsettings.dev.json

builds
package-output-dir
builder-test-output-dir
build-test-output-dir
test-feed
sample-project-output-dir
builder-test-output-dir
build-test-output-dir
sample-build-spec-output-dir
/tests/manual/testdata/labview/sample1.aliases
/tests/manual/testdata/labview/sample1.lvlps
/tests/manual/testdata/labview/sample1.lvproj
pull-smb-meta-dir
/tests/manual/pull-az-blob-meta-dir
/tests/manual/package-builder-dir
pull-git-meta-dir
