Architecture: windows_x64
Homepage: https://github.com/zoryatec/gcd
Maintainer: ZoryatecTESDDDD
Description: unset-description
XB-Plugin: file
XB-UserVisible: yes
XB-StoreProduct: yes
XB-Section: tools
Package: gcd
Version: 0.0.0.1
Depends: 
