Package: gcd
Architecture: windows_x64
Homepage: http://www.zoryatec.com/
Maintainer: Zoryatec<>
Description: Gcd
XB-Plugin: file
XB-UserVisible: yes
XB-StoreProduct: yes
XB-Section: Application Software
Version: 0.1.0-1